<div class="principal">

  <mat-card>

    <mat-card-header>

      <mat-card-title class="central">Cadastre-se!</mat-card-title>
      <mat-card-subtitle class="central">(Forms com Template Driven Forms)</mat-card-subtitle>

    </mat-card-header>

    <mat-card-content>

      <form 
      action="#" 
      id="main-form" 
      (ngSubmit)="submit()"
      #form="ngForm"
      
      >
      <!--(ngSubmit)="Funcao()" ouvirá o evento de submitt passar la em cima-->

        <div class="form-row">

          <mat-form-field appearance="outline">

            <mat-label>Nome</mat-label>
            <input 
            type="text" 
            matInput 
            placeholder="Digite seu nome"
            [(ngModel)]="nome"
            name="nome"
            required
            minlength="3"
            #inputNome="ngModel"
            >

            <mat-error *ngIf="inputNome.invalid">
              <span 
              *ngIf="inputNome.errors?.['minlength']">
                Inserir no minimo 3 caracteres.
              </span>

              <span 
              *ngIf="inputNome.errors?.['required']">
                Esté Campo é Obrigatorio
              </span>
            </mat-error>

          </mat-form-field>

          <mat-form-field appearance="outline">

            <mat-label>Sobrenome</mat-label>
            <input 
            type="text" 
            matInput 
            placeholder="Digite seu sobrenome"
            [(ngModel)]="sobrenome"
            name="sobrenome"
            required
            minlength="3"
            #inputSobrenome="ngModel"
            >

            <mat-error *ngIf="inputSobrenome.invalid">
              <span 
              *ngIf="inputSobrenome.errors?.['minlength']">
                Inserir no minimo 3 caracteres.
              </span>

              <span 
              *ngIf="inputSobrenome.errors?.['required']">
                Esté Campo é Obrigatorio
              </span>
            </mat-error>

          </mat-form-field>

          <mat-form-field appearance="outline">

            <mat-label>CPF</mat-label>
            <input 
            type="text" 
            matInput 
            placeholder="Digite seu CPF"
            [(ngModel)]="cpf"
            name="cpf"
            required
            maxlength="11"
            #inputCpf="ngModel"
            >

            <mat-error *ngIf="inputCpf.invalid">
              <span 
              *ngIf="inputCpf.errors?.['required']">
                Esté Campo é Obrigatorio
              </span>
            </mat-error>

          </mat-form-field>

        </div>

        <div class="form-row">

          <mat-form-field appearance="outline">

            <mat-label >Contato</mat-label>
            <input 
            type="tel" 
            matInput 
            placeholder="Digite seu Telefone"
            [(ngModel)]="tel"
            name="telefone"
            required
            minlength="10"
            maxlength="11"
            #inputTelefone="ngModel"
            >

            <mat-error *ngIf="inputTelefone.invalid">
              <span 
              *ngIf="inputTelefone.errors?.['minlength']">
              Inserir no minimo 10 caracteres.
              </span>
              
              <span 
              *ngIf="inputTelefone.errors?.['required']">
              Esté Campo é Obrigatorio
              </span>
            </mat-error>
            

          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Informe seu Sexo</mat-label>
            <mat-select 
            required
            [(ngModel)]="sex"
            name="sexo"
            >
              <mat-option value="M" >
                Masculino
              </mat-option>
              <mat-option value="F">
                Feminino
              </mat-option>
              <mat-option value="O">
                Outro
              </mat-option>
            </mat-select>

          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Estado</mat-label>
            <input 
            type="text" 
            matInput 
            placeholder="Digite seu Estado"
            [(ngModel)]="estado"
            name="estado"
            minlength="2"
            required
            #inputEstado="ngModel"
            >

            <mat-error *ngIf="inputEstado.invalid">
              <span 
              *ngIf="inputEstado.errors?.['minlength']">
              Inserir no minimo 2 caracteres.
              </span>
              
              <span 
              *ngIf="inputEstado.errors?.['required']">
              Esté Campo é Obrigatorio
              </span>
            </mat-error>

          </mat-form-field>

        </div>

        <div class="form-row">

          <mat-form-field appearance="outline" class="address">
            <mat-label>Endereço</mat-label>
            <input 
            type="text" 
            matInput 
            placeholder="Digite seu endereço"
            [(ngModel)]="endereco"
            name="endereco"
            minlength="4"
            required
            #inputEndereco="ngModel"
            >

            <mat-error *ngIf="inputEndereco.invalid">
              <span 
              *ngIf="inputEndereco.errors?.['minlength']">
              Inserir no minimo 4 caracteres.
              </span>
              
              <span 
              *ngIf="inputEndereco.errors?.['required']">
              Esté Campo é Obrigatorio
              </span>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Complemento</mat-label>
            <input 
            type="text" 
            matInput 
            placeholder="Digite o Complemento"
            [(ngModel)]="complemento"
            name="complemento"
            required
            minlength="1"
            #inputComplemento="ngModel"
            >

            <mat-error *ngIf="inputComplemento.invalid">
              <span 
              *ngIf="inputComplemento.errors?.['minlength']">
              Inserir no minimo 1 caracteres.
              </span>
              
              <span 
              *ngIf="inputComplemento.errors?.['required']">
              Esté Campo é Obrigatorio
              </span>
            </mat-error>
            
          </mat-form-field>

        </div>

        <div class="form-row">

          <mat-form-field appearance="outline" class="grow">
            <mat-label>E-mail</mat-label>
            <input 
              type="email" 
              matInput 
              placeholder="email@email.com"
              name="email" 
              ngModel 
              email
              required
              minlength="6"
              #inputEmail="ngModel"
            >

            <mat-error *ngIf="inputEmail.invalid">
              <span 
              *ngIf="inputEmail.errors?.['minlength']">
              Inserir no minimo 6 caracteres.
              </span>
              
              <span 
              *ngIf="inputEmail.errors?.['required']">
              Esté Campo é Obrigatorio
              </span>

              <span 
              *ngIf="inputEmail.errors?.['email']">
              Isso não é um e-mail
              </span>
            </mat-error>
            
          </mat-form-field>

        </div>

        <div class="form-row">

          <mat-form-field appearance="outline">

            <mat-label>Usuario</mat-label>
            <input 
            type="username" 
            matInput 
            placeholder="Digite seu nome de usuario"
            [(ngModel)]="usuario"
            name="usuario"
            required
            minlength="5"
            maxlength="8"
            #inputUsuario="ngModel"
            >
            
            <mat-error *ngIf="inputUsuario.invalid">
              <span 
              *ngIf="inputUsuario.errors?.['minlength']">
              Inserir no minimo 5 caracteres.
              </span>
              
              <span 
              *ngIf="inputUsuario.errors?.['required']">
              Esté Campo é Obrigatorio
              </span>
            </mat-error>
            
          </mat-form-field>

          <mat-form-field appearance="outline">

            <mat-label>Senha</mat-label>
            <input 
            type="password" 
            matInput 
            placeholder="Digite sua senha"
            [(ngModel)]="senha"
            name="senha"
            required
            minlength="6"
            maxlength="8"
            #inputSenha="ngModel"
            >

            <mat-error *ngIf="inputSenha.invalid">
              <span 
              *ngIf="inputSenha.errors?.['minlength']">
              Inserir no minimo 6 caracteres.
              </span>
              
              <span 
              *ngIf="inputSenha.errors?.['required']">
              Esté Campo é Obrigatorio
              </span>
            </mat-error>

          </mat-form-field>

          <mat-form-field appearance="outline">

            <mat-label>Confirme sua senha</mat-label>
            <input 
            type="password" 
            matInput 
            placeholder="Confirme sua senha"
            [(ngModel)]="validaSenha"
            name="validaSenha"
            required
            minlength="6"
            maxlength="8"
            #inputValidaSenha="ngModel"
            (change)="validadorDeSenha()"
            >

            <mat-error *ngIf="inputValidaSenha.invalid">
              <span 
              *ngIf="inputValidaSenha.errors?.['minlength']">
              Inserir no minimo 6 caracteres.
              </span>
              
              <span 
              *ngIf="inputValidaSenha.errors?.['required']">
              Esté Campo é Obrigatorio
              </span>

            </mat-error>

          </mat-form-field>

        </div>

        <div class="form-row col">
          <button 
            mat-raised-button 
            color="warn"
            type="submit"  
            class="grow"
            [disabled]="form.invalid"
            
          >Cadastrar</button>
        </div>

      </form>

    </mat-card-content>

  </mat-card>

</div>